.custom-card-padding .ant-card-body {
  padding: 16px !important; /* 覆盖默认的padding 24px */
}

/* 隐藏滚动栏 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 操作栏 */
.operation-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* 搜索框 */
.search-bar {
  flex-basis: 80%;
}
/* 下拉选择组 */
.select-group {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
}
/* 组元素 */
.select-item {
  flex-basis: 50%;
  margin: 0 0 0 5px;
}

.phone-select-item-start {
  margin-left: auto;
}

@media (max-width: 450px) {
  .operation-bar {
    flex-direction: column;
  }
  .search-bar {
    margin-bottom: 5px;
  }
  .select-group {
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .phone-select-item-start {
    margin-left: 0 !important;
  }
}
