.el-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto; /* 允许垂直滚动 */
  scrollbar-width: none; /* 针对Firefox隐藏滚动条 */
  border-radius: 10px; /* 添加圆角 */
}

.el-row::-webkit-scrollbar {
  display: none; /* 针对Chrome, Safari等隐藏滚动条 */
}

.el-col {
  margin-right: 20px;
  transition: all .5s;
  border-radius: 10px; /* 添加圆角 */
}

.box-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px; /* 添加圆角 */
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  background-color: #fdf0da;
  color: #f19901;
  padding-left: 10px;
  border-top-left-radius: 10px; /* 添加圆角 */
  border-top-right-radius: 10px; /* 添加圆角 */
}
.card-label {
  color: rgb(197, 197, 197);
  margin-right: -12px;
  width: 70px;
  display: inline-block;
  margin-bottom: 5px;
}