.el-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.el-col {
  margin-right: 20px;
  transition: all .5s;
}
.box-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.header {
  position: relative;
  background-color: #fdf0da;
  color: #f19901;
  padding-left: 10px;
}
.card-label {
  color: rgb(197, 197, 197);
  margin-right: -12px;
  width: 70px;
  display: inline-block;
  margin-bottom: 5px;
}